body, h1, h2, h3, h4, h5, h6{
    font-family: "Open Sans",sans-serif;
}
.navbar-brand {
    padding: 5px;
}
.navbar-brand>img {
    height: 100%;
    padding: 5px;
    width: auto;
    display:inline; 
}
.navbar-orange{background-color:#fff;}
.navbar-orange .navbar-nav>.active>a{
    border-top:5px solid #E1672C !important;
}
.text-orange{color:#E1672C;}
.text-gold{color:gold;}
.orange-bg{background-color:#E1672C;color:#fff;}
.user-menu.alert{margin-bottom:0px;border-radius: 0px;}
.user-menu.alert a{margin-right: 7px;}
.blue-bg{background-color:#03A9F5;color:#fff;}
.btn.blue-bg{border:1px solid #fff;}
.btn.blue-bg.active{background-color:#34BAF7;color:#fff;border:1px solid #fff;}
.grey-bg{background-color:#EEEEEE;}
.marginTop10{margin-top:10px;}
.marginTop20{margin-top:20px;}
.panel-dark-grey>.panel-heading{color: #fff;background-color: #737373;border-color: #ccc;}
.panel-heading h4{font-weight: 500;}
.panel-body.list-group,.panel-body.table-inner{padding:0px;}
.panel-body .table{margin-bottom:0px;}
.glyphicon.glyphicon-dot:before {content: "\25cf";font-size: 1.5em;}
.panel-body .list-group-item{*font-size:18px;}
.search_anchor{padding-right: 0px !important;}
/*footer{width:100%;position:absolute;bottom:0px;}*/
/*footer{position: absolute;bottom: 0px;width: 100%;}*/
footer .statistics{color:#fff;background-color:#222222;}
.header_nav_menus{cursor: pointer;display: inline-block;font-size: 14px;font-weight: 400;line-height: 1.42857;margin-bottom: 0;padding: 6px 12px;text-align: center;vertical-align: middle;white-space: nowrap;border-top:5px solid transparent;}
#bs-example-navbar-collapse-1 .navbar-nav > li > a{padding:10px 15px;line-height: 30px;}
.unit_description{min-height: 224px;}
.unit_grey_screen_height{min-height:110px;}
.create_unit_heading{margin-top: 20px;}
.search_div_main{width: 200px;}
.fa.fa-warning.select-error{right:20px;}
.fa.fa-check.select-error{right:20px;}
a.list-group-item,.list-group-item a{color:#337ab7 ;}
.has-error .multiselect{border-color: #a94442;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;}
.has-success .multiselect {border-color: #3c763d;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;}
.select2-container--bootstrap{display: block;}
.select2-container--bootstrap .select2-search--dropdown .select2-search__field, .select2-container--bootstrap .select2-selection,
.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open
.select2-selection{box-shadow: none;}

.select2-container--bootstrap .select2-selection--single{height: 34px;line-height: 1.42857;padding: 6px 24px 6px 12px;}
.select2-container--bootstrap .select2-selection{background-color: #fff;border: 1px solid #c2cad8;border-radius: 4px;color: #555;font-size: 14px;outline: 0 none;}
.select2-container--disabled .select2-selection,.select2-container--disabled .select2-selection--single{background-color: #eee !important;cursor: default !important;}
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow{ bottom: 0;position: absolute;right: 12px;top: 0;width: 4px;}
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b{border-color: #999 transparent transparent;border-style: solid;border-width: 4px 4px 0;height: 0;left: 0;margin-left: -4px;margin-top: -2px;position: absolute;top: 50%;width: 0;}
.select2-container--bootstrap.select2-container--open .select2-selection .select2-selection__arrow b{border-color: transparent transparent #999;border-width: 0 4px 4px;}
.select2-container--bootstrap .select2-selection--multiple{min-height:34px;}
.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field{  background: transparent none repeat scroll 0 0;height: 32px;line-height: 1.42857;margin-top: 0;min-width: 5em;padding: 0 12px;box-shadow: none;}
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected]{background-color:#337ab7;color:#fff;}	
.select2-container--bootstrap .select2-selection--multiple .select2-selection__rendered{box-sizing: border-box;display: block;line-height: 1.42857;list-style: outside none none;margin: 0;overflow: hidden;padding: 0;text-overflow: ellipsis;white-space: nowrap;width: 100%;}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__clear{margin-top:6px;}
.select2-container--bootstrap .select2-selection__clear{ color: #999;cursor: pointer;float: right;font-weight: bold;margin-right: 10px;}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice{  background: #fff none repeat scroll 0 0;border: 1px solid #ccc;border-radius: 4px;color: #555;cursor: default;float: left;margin: 5px 0 0 6px;padding: 0 6px;}
.select2-container--bootstrap .select2-results__option[aria-selected="true"]{background-color:#e1e5ec;color:#262626;}

.smallText{font-size:11px;display: inline-block;}

.upvote{border-radius: 50%;border:1px solid #36c6d3;padding: 5px;cursor: pointer;}
.success-upvote{background-color:#36c6d3;color:#fff;}

.downvote{border-radius: 50%;border:1px solid #ed6b75;padding: 5px;cursor: pointer;}
.success-downvote{background-color:#ed6b75;color:#fff;}

#estimated_completion_time_start,#estimated_completion_time_end{ border-radius: 4px 0 0 4px;}
.prevent-click{pointer-events: none;cursor: default;}
.text_ellipsis{ display:inline-block;width:483px;white-space: nowrap;overflow:hidden !important;text-overflow: ellipsis;}
span.select2.select2-container{width:100% !important;}

/*Custom Bootstrap Style...*/
.alert{padding:7px;}
.form-group {margin-bottom: 7px;}
.panel-heading{padding:5px 15px;}
.panel{margin-bottom:10px;}
.h4, .h5, .h6, h4, h5, h6{margin-top:5px;margin-bottom:5px;}
.list-group-item{padding:7px 15px;}
.panel-body{padding:7px;}
.navbar{margin-bottom:10px;}
hr, p {margin: 10px 0;}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}



.location_loader{position: absolute;top:5px;left:310px;z-index: 1;}
.importance-div{float:right;}
@media (min-width: 991px) and (max-width: 1200px){
    .unit_grey_screen_height{min-height: 145px;}
}
@media (min-width: 767px) and (max-width: 990px){
    .usermenu-btns,.search_div_main{width: 100%;}
    .search_anchor{padding-right: 15px !important;}
    .unit-heading {margin-top: 0;padding-top: 20px;}
    .search_div_main{width: 200px;}
    .unit_grey_screen_height{min-height: 162px;}
}
@media (max-width: 767px){
    .importance-div{float:none;padding-top: 15px;}
    .usermenu-btns,.search_div_main{width: 100%;}
    .search_anchor{padding-right: 15px !important;}
    .unit-heading {margin-top: 0;padding-top: 20px;}
    .unit_grey_screen_height{min-height: auto;}
}
@media (max-width: 457px){
    .user-menu.alert a{padding:5px;}
}
@media (max-width: 392px){
    .user-menu.alert a{font-size:12px;}
}